#canvas {
  border: 1px solid #aaaaaa;
}

#container {
  text-align: center;
}

#solve, #terminate {
  display: block;
  width: 14em;
  padding: 1em;
  margin: 1em auto;
}

#spinner {
  float: left;
}

#slider {
  margin: 1em 6em;
}
